.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 30px;
}

.username {
  text-align: center;
}

.img {
  min-height: 450px;
  width: 100%;
}

.inner {
  padding: 10px 30px;
}

.name {
  font-weight: bold;
  font-size: larger;
}

.from {
    font-weight:normal;
    font-size: smaller;
}

.list {
  line-height: 24px;
}