.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 30px;
}

.username {
  text-align: center;
  font-size: 150%;
}

.list {
  margin-top: 30px;
  line-height: 24px;
}

.from {
  font-weight: normal;
  font-size: smaller;
}
