.button {
  margin-left: 0.5rem;
}

.red {
  height: 30px;
  padding-top: 5px;
  padding-left: 70px;
  color: red;
}

.pr {
  padding: 0 20px 0 10px;
}

.submit {
  margin: 20px 0 0 300px;
}

h4 {
  display: inline-block;
  text-align: right;
  width: 100px;
  padding-right: 10px;
  margin: 0;
}

form {
  border: 1px grey solid;
  padding: 30px 0;
  background-color: azure;
}
